{% extends 'base.html' %} {% load static %} {% load math_filters %} {% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
  <div class="container">
    {% include "includes/alerts.html" %}
    <div class="row">
      <aside class="col-md-3">
        <!--   SIDEBAR   -->
        <ul class="list-group">
          <a class="list-group-item active" href="#"> My order history </a>
          <a class="list-group-item" href="#"> Transactions </a>
          <a class="list-group-item" href="#"> Return and refunds </a>
          <a class="list-group-item" href="#"> Settings </a>
          <a class="list-group-item" href="#"> My Selling Items </a>
          <a class="list-group-item" href="#"> Received orders </a>
        </ul>
        <br />
        <a class="btn btn-light btn-block" href="{% url 'logout' %}">
          <i class="fa fa-power-off"></i> <span class="text">Log out</span>
        </a>
        <!--   SIDEBAR .//END   -->
      </aside>
      <main class="col-md-9">
        {% if orders %} {% for order in orders %}
        <article class="card">
          <header class="card-header">
            
            <strong class="d-inline-block mr-3"
              >Order ID: {{order.order_number}}</strong
            >

            <span>Order Date: {{order.created_at}}</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <h6 class="text-muted">Delivery to</h6>
                <p>
                  {{user.first_name}} {{user.last_name}} <br />
                  Phone +1 {{user.phone_number}} Email: {{user.email}} <br />
                  Location: {{order.address_line_1}}, {{order.country}},
                  {{order.state}}, {{order.city}} <br />
                  P.O. Box: 100123
                </p>
              </div>
              <div class="col-md-4">
                <h6 class="text-muted">Payment</h6>
                <span class="text-success">
                  <i class="fab fa-lg fa-cc-visa"></i>
                  Visa **** 4216
                </span>
                <p>
                  Subtotal: ${{order.order_total}} <br />
                  Shipping fee: $15 <br />
                  <span class="b">Total: ${{order.order_total|addition:15}} </span>
                </p>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
          {% endfor %} {%endif%}
          <div class="table-responsive">
            <table class="table table-hover">
              <tr>
                <td width="65">
                  <img src={% static "/images/items/1.jpg" %} class="img-xs border" />
                </td>
                <td>
                  <p class="title mb-0">
                    Signature Plain Polo Shirt With Microphone Cord
                  </p>
                  <var class="price text-muted">USD 145</var>
                </td>
                <td>
                  Seller <br />
                  Nike clothing
                </td>
                <td width="250">
                  <a href="#" class="btn btn-outline-primary">Track order</a>
                  <a href="#" class="btn btn-light"> Details </a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src={% static "/images/items/2.jpg" %} class="img-xs border" />
                </td>
                <td>
                  <p class="title mb-0">Embroidered Oxford Shirt</p>
                  <var class="price text-muted">USD 15</var>
                </td>
                <td>
                  Seller <br />
                  ABC shop
                </td>
                <td>
                  <a href="#" class="btn btn-outline-primary">Track order</a>
                  <a href="#" class="btn btn-light"> Details </a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src={% static '/images/items/3.jpg' %} class="img-xs border" />
                </td>
                <td>
                  <p class="title mb-0">Khaki Elastic Waist Shorts</p>
                  <var class="price text-muted">USD 145</var>
                </td>
                <td>
                  Seller <br />
                  Wallmart
                </td>
                <td>
                  <a href="#" class="btn btn-outline-primary">Track order</a>
                  <a href="#" class="btn btn-light"> Details </a>
                </td>
              </tr>
            </table>
          </div>
          <!-- table-responsive .end// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}